  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@1000&display=swap');
.container,.abt1,.abt2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.abt1{
    /* width:95vw; */
    margin:0 2rem;
}
.abt2{
    width:70vw;
    text-align: center;

}
.abt p{
    font-family: 'Mulish', sans-serif;
    font-size: 2.5rem;
    color:blue;

}